<launch>

  <rosparam file="$(find s1110834_description)/launch/controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="revolute1_position_controller revolute2_position_controller revolute5_position_controller revolute6_position_controller joint_state_controller arm_trajectory_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/s1110834/joint_states"/>
  </node>

</launch>
